body {
    font-family: 'Arial', sans-serif;
}

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

img {
    border: 5px solid #ccc;
}

footer p, footer a {
    margin-bottom: 0;
}

footer a:hover {
    text-decoration: underline;
}
